.searchBar-container {
  position: relative;
  width: 400px;
}

.searchBar-input {
  width: 100%;
  padding-right: 25px; /* Make space for the magnifier icon */
  box-sizing: border-box; /* This ensures padding doesn't increase input's total width */
  height: 30px;
}

.searchBar-icon {
  position: absolute;
  right: 5px;
  top: 50%;
  transform: translateY(-50%);
  /* pointer-events: none;  */
  cursor: pointer;
}
.select-categories,
.select-sorting {
  min-width: 100px;
  height: 20px;
}
.label-categories,
.label-sorting {
  color: #fff;
  font-weight: 700;
  cursor: pointer;
}

.label-categories:hover,
.label-sorting:hover {
  color: #f9004d;
}
